<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2982202788640430</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2982202788640430</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>709e8b1549c95fae85a2ccfdd57137c8</string>
	<key>FacebookDisplayName</key>
	<string>Xigo</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fb</string>
		<string>tiktok</string>
		<string>comgooglemaps</string>
		<string>tweetie</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>mqq</string>
		<string>itms-apps</string>
		<string>itms-services</string>
		<string>squarecash</string>
		<string>cashme</string>
		<string>upi</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>gpay</string>
		<string>com.amazon.mobile.shopping</string>
		<string>mobikwik</string>
		<string>freecharge</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNAuthorizationOptions</key>
		<array>
			<string>alert</string>
		</array>
	</dict>
</dict>
</plist>
